{{ define "header" }}
    <head>
        <title>Reactive html apps in Go & alpine.js</title>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Reactive html apps in Go & alpine.js" />

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/solid.min.js"
            integrity="sha512-apZ8JDL5kA1iqvafDdTymV4FWUlJd8022mh46oEMMd/LokNx9uVAzhHk5gRll+JBE6h0alB2Upd3m+ZDAofbaQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

        {{/* <script
            defer
            src="http://localhost:8000/cdn.js"></script>
        */}}

        <script
            defer
            src="https://unpkg.com/@livefir/fir@latest/dist/fir.min.js"></script>

        <script
            defer
            src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <style>
            [x-cloak] {
                display: none !important;
            }
        </style>
    </head>
{{ end }}
